<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Presentation</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="static/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <style>
    @import"https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap";

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Plus Jakarta Sans
    }

    body {
      width: 100vw;
      height: 100vh
    }
  </style>
  <link rel="stylesheet" href="static/styles.e1d3482d08c79c3d.css" media="print" onload="this.media='all'"><noscript>
    <link rel="stylesheet" href="static/styles.e1d3482d08c79c3d.css">
  </noscript>
</head>

<body>
  <app-root></app-root>
  <script src="static/runtime.374d6a0216ecf699.js" type="module"></script>
  <script src="static/polyfills.4aae97477d7a81c7.js" type="module"></script>
  <script src="static/main.253b42c78c429819.js" type="module"></script>

</body>

</html>